<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Dashboard</title>
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <script th:inline="javascript">
        var chartData = [[${chartData}]]
        // console.log(chartData);
        // console.log(chartData[0].success);

    </script>
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <!-- Navbar -->
    <!--    <nav th:insert="layout :: navbar"></nav>-->
    <div th:replace="layout :: navbar"></div>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div layout:fragment="header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>



        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
            <thead>
            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">HOW TO GENERATE MERCHANT QR CODE</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">HOW TO GENERATE CASHOUT QR CODE</th></tr>
            </thead>
            <tbody>
            <tr role="row" class="odd">
                <td>Log in as admin</td>
                <td>Log in as admin</td>
            </tr><tr role="row" class="even">
                <td>Click on "Merhant"</td>
                <td>Click on "Cashout"</td>
            </tr><tr role="row" class="odd">
                <td>Click the "Launch QR Generator" button</td>
                <td>Click the "Launch QR Generator" button</td>
            </tr><tr role="row" class="even">
                <td>Input Merchant number, select language and press "Generate"</td>
                <td>Input Cashout number, select language and press "Generate"</td>
            </tr></tbody>
        </table>




        <!-- Main content -->
        <div layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-sign-in-alt"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Today's Request</span>
                                <span class="info-box-number"  th:text="${dashboardData.getTotalRequestDaily()}"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-success elevation-1"><i
                                    class="fas fa-check-circle"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Successful</span>
                                <span class="info-box-number" th:text="${dashboardData.getTotalSuccessDaily()}"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <!-- fix for small devices only -->
                    <div class="clearfix hidden-md-up"></div>

                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-danger elevation-1"><i
                                    class="fas fa-exclamation-circle"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Failed</span>
                                <span class="info-box-number" th:text="${dashboardData.getTotalFailDaily()}"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-percentage"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Success Rate</span>
                                <span class="info-box-number" th:text="${dashboardData.getSuccessRateDaily() + '%'}"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Monthly Recap Report</h5>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-center">
                                            <strong>Results: Last 12 months</strong>
                                        </p>

                                        <div class="chart">
                                            <!-- Sales Chart Canvas -->
                                            <canvas id="stackedBarChart" name="stackedBarChart" height="180" style="height: 180px;" ></canvas>
                                        </div>
                                        <!-- /.chart-responsive -->
                                    </div>

                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- ./card-body -->
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-sm-3 col-6">
                                        <div class="description-block border-right">
<!--                                            <span class="description-percentage text-success"><i-->
<!--                                                    class="fas fa-caret-up"></i> 17%</span>-->
                                            <h5 class="description-header" th:text="${dashboardData.getTotalRequest()}"></h5>
                                            <span class="description-text">TOTAL REQUEST</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-6">
                                        <div class="description-block border-right">
<!--                                            <span class="description-percentage text-warning"><i-->
<!--                                                    class="fas fa-caret-left"></i> 0%</span>-->
                                            <h5 class="description-header" th:text="${dashboardData.getTotalSuccess()}"></h5>
                                            <span class="description-text">TOTAL SUCCESSFUL</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-6">
                                        <div class="description-block border-right">
<!--                                            <span class="description-percentage text-success"><i-->
<!--                                                    class="fas fa-caret-up"></i> 20%</span>-->
                                            <h5 class="description-header" th:text="${dashboardData.getTotalFail()}"></h5>
                                            <span class="description-text">TOTAL FAILED</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-6">
                                        <div class="description-block">
<!--                                            <span class="description-percentage text-danger"><i-->
<!--                                                    class="fas fa-caret-down"></i> 18%</span>-->
                                            <h5 class="description-header" th:text="${dashboardData.getSuccessRate() + '%'}"></h5>
                                            <span class="description-text">SUCCESS RATE</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <div th:replace="layout :: footer"></div>
<!--    <script>-->
<!--        var data = $("#modelAttr").val();-->
<!--        var success = data[0].charAt(0);-->
<!--    </script>-->
</div>
</body>
</html>
