<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




    <title>QR Admin Portal</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>



    <style>
        *,
        ::after,
        ::before {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            line-height: 1.5;
            font-size: 0.875rem;
            background: rgb(235, 235, 235);
            color: white;
        }

        ul {
            list-style-type: none;
        }

        a {
            text-decoration: none;
            cursor: pointer;
        }

        .nav-center {
            padding: 1em;
            background: white;
            width: 100%;
            /*   align-items:center; */
            /*   justify-content: space-between; */
            width: 100%;
        }

        .nav-header {
            display: flex;
            justify-content: space-between;
        }

        .nav-header img {
            cursor: pointer;
            height: 50px;
            float: left;
            margin: 1em;
        }

        .links {
            display: flex;
            flex-direction: column;
            /*   height: 80vh; */
            transition: all 1s ease-in-out;
            height: 0;
            overflow: hidden;
        }

        .show-links {
            height: 30vh;
            transition: all 1s ease-in-out;
        }

        .links li {
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 1em 1em;
            margin: auto;
        }

        .links li a {
            color: #121212;

            transition: 0.1s border linear;
        }

        .links li a:hover {
            border-bottom: black 4px solid;
        }

        .social-icons {
            display: flex;
            height: 0vh;
            overflow: hidden;
        }

        .show-icons {
            height: 10vh;
            align-items: center;
            border-top: 2px solid black;
            overflow: visible;
        }

        .social-icons li {
            margin: auto;

            font-size: 1.5rem;
            transition: all 0.5s linear;
        }

        .social-icons li a {
            padding: 0.4em;
            color: black;
            transition: all 0.5s ease;
            border-radius: 50%;
        }

        .social-icons li a:hover {
            background: black;
            color: white;
        }

        .nav-toggle {
            font-size: 1.5rem;
            color: black;
            background: transparent;
            border-color: transparent;
            transition: 1s all linear;
            cursor: pointer;
            justify-self: flex-end;
            outline: none;
        }

        .nav-toggle:hover {
            color: black;
            transform: rotate(90deg);
            outline: none;
        }

        @media screen and (min-width: 800px) {
            .nav-toggle {
                display: none;
            }

            .nav-header {
                display: block;
            }

            .links {
                flex-direction: row;
                height: auto;
                display: flex;
            }

            .links li {
                font-size: 1rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 1em 1em;
                margin: auto;
            }

            .social-icons {
                display: flex;
                height: 100%;
                align-items: center;
                border: none;
                padding: 1em;
            }

            .social-icons li {
                margin: auto;

                font-size: 1.2rem;
            }

            .nav-center {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .lg-text {
                font-size: 1.5rem !important;
            }

            footer {
                display: none;
            }
        }

        .title {
            color: #212121 !important;
        }
    </style>
    <!-- <div class="co"></div> -->
    <header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
        <!-- Navigation Menu -->
        <nav>
            <div class="nav-center">
                <!-- nav header -->
                <div class="nav-header">
                    <a th:href="@{/home}" class="navbar-brand">

                        <img src="dist/img/logo.png" class="logo" alt="logo" />
                        <button class="nav-toggle">
                            <i class="fas fa-bars"></i>
                        </button>
                    </a>
                </div>
                <!-- links -->
                <ul class="links">
<!--                    <li class="lg-text">-->
<!--                        <a href="./dashboard">Home</a>-->
<!--                    </li>-->
                    <li class="lg-text">
                        <a th:href="@{/home}">QR Admin</a>
                    </li>
                </ul>
                <!-- social media -->
                <ul class="social-icons">
                    <li class="nav-item">
                        <button class="btn btn-default" type="button"> <img src="dist/img/logo.png" class="logo" alt="logo"
                                                                            width="20" /> Admin</button>
                        <form th:action="@{/logout}" method="post">
                            <input class="form-control form-control-navbar" type="submit" value="Log Out"/>
                        </form>
                    </li>
<!--                    <div class="btn-group" role="group" aria-label="Vertical button group">-->
<!--                        <button class="btn btn-default" type="button"> <img src="dist/img/logo.png" class="logo" alt="logo"-->
<!--                                width="20" /> Admin</button>-->
<!--                        <button th:action="@{/logout}" th:method="post" class="btn btn-danger" type="button">Logout</button>-->
<!--                    </div>-->
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid mt-5">

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body title">
                        <h4 class="card-title">Generate QR Code (Single)</h4>

                        <div class="col-12">
                            <form method="post" th:action="@{/generate}">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2 col-form-label">Select QR Type</label>
                                    <div class="col-sm-10">
                                        <select name="qr_type" id="" class="form-control">
                                            <option value="0">Merchant</option>
                                            <option value="1">Cashout</option>
<!--                                            <option value="2">Another</option>-->
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-sm-2 col-form-label">Merchant Number</label>
                                    <div class="col-sm-10">
                                        <input name="merchant_account_no" type="tel" class="form-control" placeholder="Merchant Number" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-sm-2 col-form-label">Counter</label>
                                    <div class="col-sm-10">
                                        <input name="counterNo" type="number" min="1" class="form-control" placeholder="1" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button class="btn btn-danger btn-block">Generate</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body title">
                        <h4 class="card-title">Steps to generate and download single QR Code</h4>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Select type of QR code.
                                <span class="badge badge-danger badge-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Input Merchant number.
                                <span class="badge badge-danger badge-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Input counter number.
                                <span class="badge badge-danger badge-pill">3</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Click on "Generate" button. The QR code will be downloaded as pdf.
                                <span class="badge badge-danger badge-pill">4</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body title">
                        <form method="post" th:action="@{/generate-bulk}" enctype="multipart/form-data">
                            <h4 class="card-title">Generate QR Code <strong>(Bulk)</strong></h4>
                            <div class="col-12">
                                <label class="form-label" for="customFile">Upload an Excel File</label>
                                <input name="file" type="file" class="form-control" id="customFile" />
                                <div class="row mt-1">
                                    <div class="col-sm-12 mt-2">
                                        <button class="btn btn-danger btn-block">Generate</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body title">
                        <h4 class="card-title">Steps to generate Bulk QR Code</h4>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Click on "Choose file".
                                <span class="badge badge-danger badge-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Select the excel file containing merchant numbers and counter.
                                <span class="badge badge-danger badge-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Click "Generate".
                                <span class="badge badge-danger badge-pill">3</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="row mt-5">-->
<!--            <div class="col-12">-->
<!--                <div class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--                    <strong>Success! Count: </strong> <span id="success_count">50</span>-->
<!--                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                <div class="alert alert-danger alert-dismissible fade show" role="alert">-->
<!--                    <strong>Failed! Count: </strong> <span id="failed_count">50</span> </br>-->
<!--                    <hr>-->
<!--                    <span id="list_mobile">845616513131 1315615616 161651651 </span>-->
<!--                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div>


            <footer class="main-footer" th:fragment="footer">
                <!-- To the right -->
                <!-- Default to the left -->
                <strong>Copyright &copy; 2020 <a href="https://adminlte.io">Trust Axiata Digital Limited</a>.</strong> All
                rights reserved.
            </footer>
        </div>
    </div>


    <script>
        const navToggle = document.querySelector(".nav-toggle");
        const links = document.querySelector(".links");
        const socialIcons = document.querySelector(".social-icons");

        navToggle.addEventListener("click", function () {
            console.log(links.classList);
            links.classList.toggle("show-links");
            socialIcons.classList.toggle("show-icons");
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

</body>



</html>