<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <title>QR Admin Portal</title>
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white" th:fragment="navbar">
        <div class="container">
            <a th:href="@{/home}" class="navbar-brand">
                <img src="dist/img/tap.png" alt="TAP Logo" class="brand-image"
                     style="opacity: .8;margin-top: auto;height: auto">
                <span class="brand-text font-weight-light">QR Admin</span>
            </a>

            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:href="@{/merchant-form}" class="nav-link">Merchant</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/forms}" class="nav-link">Cashout</a>
                    </li>

                </ul>

                <!--                &lt;!&ndash; SEARCH FORM &ndash;&gt;-->
                <!--                <form class="form-inline ml-0 ml-md-3">-->
                <!--                    <div class="input-group input-group-sm">-->
                <!--                        <input class="form-control form-control-navbar" type="search" placeholder="Search"-->
                <!--                               aria-label="Search">-->
                <!--                        <div class="input-group-append">-->
                <!--                            <button class="btn btn-navbar" type="submit">-->
                <!--                                <i class="fas fa-search"></i>-->
                <!--                            </button>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </form>-->
            </div>
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <input class="form-control form-control-navbar" type="submit" value="Log Out"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header" layout:fragment="header">
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content" layout:fragment="content">
            <div class="row">
                <div class="col-12 col-lg-3 col-md-4">
                    <div class="card" >
                        <img class="card-img-top" src="dist/img/merchant_bg.svg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Merchant QRs</h4>
                            <p class="card-text" id="totalCount">50</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-4">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Launch QR Generator
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                        Launch QR Bulk Generator
                    </button>
                </div>
            </div>

        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Merchant QR PDF Generator</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/generate}">
                        <input type="text" name="merchant_account_no" placeholder="Merchant Account Number" required />
                        <input type="text" name="counterNo" placeholder="Counter Number" required />
                        <select name="lang" required>
                            <option value="en">English</option>
                        </select>
                        <input type="submit" value="Generate" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Merchant QR PDF Generator</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Merchant QR bulk generation</h3>
                    <form method="post" th:action="@{/generate-bulk}">
                        <label for="myfile">Upload Excel file:</label>
                        <input type="file" id="myfile" name="myfile"><br><br>
                        <input type="submit" value="Generate" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer" th:fragment="footer">
        <!-- To the right -->
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020 <a href="https://adminlte.io">Trust Axiata Digital Limited</a>.</strong> All rights reserved.
    </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>
<script src="dist/js/adminlte.min.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="dist/js/demo.js"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="plugins/raphael/raphael.min.js"></script>
<script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>
<!-- ChartJS -->
<script src="plugins/chart.js/Chart.min.js"></script>

<script src="plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<!-- date-range-picker -->
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<!-- DataTables -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.flash.min.js"></script>
<script src="dist/js/jszip.min.js"></script>
<!--<script src="dist/js/pdfmake.min.js"></script>-->
<script src="dist/js/vfs_fonts.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>-->
<script src="plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>


<script>
    $(function () {

        var monthList = new Array();
        var theMonths = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var today = new Date();
        var aMonth = today.getMonth();
        var i;
        for (i = 0; i < 12; i++) {
            monthList.push(theMonths[aMonth]);

            aMonth--;
            if (aMonth <0) {
                aMonth = 11;
            }
        }


        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        $('#fromDate').datetimepicker({
            format: 'L'
        });
        $('#toDate').datetimepicker({
            format: 'L'
        });

        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
        $("#report").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            dom: 'Bfrtip',
            buttons: ['csv', 'excel'],
            // "columnDefs": [{
            //     "targets": [4],
            //     "visible": false,
            //     "searchable": false
            // }, {
            //     "targets": [5],
            //     "visible": false,
            //     "searchable": false
            // }, {
            //     "targets": [6],
            //     "visible": false,
            //     "searchable": false
            // }, {
            //     "targets": [8],
            //     "visible": false,
            //     "searchable": false
            // }, {
            //     "targets": [10],
            //     "visible": false,
            //     "searchable": false
            // }, {
            //     "targets": [11],
            //     "visible": false,
            //     "searchable": false
            // }],

        });

        $('#modal-xl').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var kid = button.data('id')
            var nid = button.data('nid')
            var dob = button.data('dob')
            var name = button.data('name')
            var bname = button.data('bname')
            var fname = button.data('fname')
            var mname = button.data('mname')
            var sname = button.data('sname')
            var address = button.data('address')
            var status = button.data('status')
            var fraw = button.data('fraw')
            var braw = button.data('braw')
            var modal = $(this)
            if (status === 'success') {
                $("#kstatus").removeClass("badge badge-pill badge-danger").addClass("badge badge-pill badge-success");
                modal.find('.modal-header #kstatus').text('Successful')
            } else {
                $("#kstatus").removeClass("badge badge-pill badge-success").addClass("badge badge-pill badge-danger");
                modal.find('.modal-header #kstatus').text('Failed')
            }
            modal.find('.modal-body #kycId').val(kid)
            modal.find('.modal-body #kycNid').val(nid)
            modal.find('.modal-body #kycName').val(name)
            modal.find('.modal-body #kycDob').val(dob)
            modal.find('.modal-body #kycBName').val(bname)
            modal.find('.modal-body #kycFatherName').val(fname)
            modal.find('.modal-body #kycMotherName').val(mname)
            modal.find('.modal-body #kycSpouseName').val(sname)
            modal.find('.modal-body #kycAddress').val(address)
            modal.find('.modal-body #kycFRaw').val(fraw)
            modal.find('.modal-body #kycBRaw').val(braw)
        })

        $('#modal-valid').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var vid = button.data('vid')
            var vnid = button.data('vnid')
            var vdob = button.data('vdob')
            var vname = button.data('vname')
            var vbname = button.data('vbname')
            var vfname = button.data('vfname')
            var vmname = button.data('vmname')
            var vsname = button.data('vsname')
            var vaddress = button.data('vaddress')
            var vecname = button.data('vecname')
            var vecbname = button.data('vecbname')
            var vecfname = button.data('vecfname')
            var vecmname = button.data('vecmname')
            var vecsname = button.data('vecsname')
            var vecaddress = button.data('vecaddress')
            var nameScore = button.data('s1')
            var bnameScore = button.data('s2')
            var fnameScore = button.data('s3')
            var mnameScore = button.data('s4')
            var snameScore = button.data('s5')


            var modal = $(this)

            modal.find('.modal-body #vId').val(vid)
            modal.find('.modal-body #vNid').val(vnid)
            modal.find('.modal-body #vName').val(vname)
            modal.find('.modal-body #vEcName').val(vecname)
            modal.find('.modal-body #vDob').val(vdob)
            modal.find('.modal-body #vBName').val(vbname)
            modal.find('.modal-body #vFName').val(vfname)
            modal.find('.modal-body #vMName').val(vmname)
            modal.find('.modal-body #vSName').val(vsname)
            modal.find('.modal-body #vAddress').val(vaddress)
            modal.find('.modal-body #vECBName').val(vecbname)
            modal.find('.modal-body #vECFName').val(vecfname)
            modal.find('.modal-body #vECMName').val(vecmname)
            modal.find('.modal-body #vECSName').val(vecsname)
            modal.find('.modal-body #vECAddress').val(vecaddress)
            modal.find('.modal-body #nameScore').val(nameScore)
            modal.find('.modal-body #bNameScore').val(bnameScore)
            modal.find('.modal-body #fNameScore').val(fnameScore)
            modal.find('.modal-body #mNameScore').val(mnameScore)
            modal.find('.modal-body #sNameScore').val(snameScore)

        })


        var barChartData = {
            // labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            labels:[monthList[11],monthList[10],monthList[9],monthList[8],monthList[7],monthList[6],monthList[5],monthList[4],monthList[3],monthList[2],monthList[1],monthList[0]],
            datasets: [
                {
                    label: 'Successful',
                    backgroundColor: 'rgba(60,141,188,0.9)',
                    borderColor: 'rgba(60,141,188,0.8)',
                    pointRadius: false,
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: [chartData[11].success, chartData[10].success, chartData[9].success, chartData[8].success, chartData[7].success, chartData[6].success, chartData[5].success, chartData[4].success, chartData[3].success, chartData[2].success, chartData[1].success, chartData[0].success]
                },
                {
                    label: 'Failed ',
                    backgroundColor: 'rgba(210, 214, 222, 1)',
                    borderColor: 'rgba(210, 214, 222, 1)',
                    pointRadius: false,
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [chartData[11].failure, chartData[10].failure, chartData[9].failure, chartData[8].failure, chartData[7].failure, chartData[6].failure, chartData[5].failure, chartData[4].failure, chartData[3].failure, chartData[2].failure, chartData[1].failure, chartData[0].failure]

                },
            ]
        }

        var areaChartOptions = {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false,
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display: false,
                    }
                }]
            }
        }

        // This will get the first returned node in the jQuery collection.
//-------------
        //- BAR CHART -
        var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
        var stackedBarChartData = jQuery.extend(true, {}, barChartData)

        var stackedBarChartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }


        var stackedBarChart = new Chart(stackedBarChartCanvas, {
            type: 'bar',
            data: stackedBarChartData,
            options: stackedBarChartOptions
        })

    })
</script>
</body>
</html>
